<div class="wishlist-inspire__icon" x-data="wishlist">
    <button type="button" @click="addToWishlist()">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 107.39" stroke-width="2" stroke="#000" :fill="wishlisted ? '#000' : '#fff'">
            <title>wishlist-heart</title>
            <path class="cls-1" d="M60.83,17.18c8-8.35,13.62-15.57,26-17C110-2.46,131.27,21.26,119.57,44.61c-3.33,6.65-10.11,14.56-17.61,22.32-8.23,8.52-17.34,16.87-23.72,23.2l-17.4,17.26L46.46,93.55C29.16,76.89,1,55.92,0,29.94-.63,11.74,13.73.08,30.25.29c14.76.2,21,7.54,30.58,16.89Z"/>
        </svg>
        {% if block.settings.text != blank %}
            <span class="wishlist-inspire__icon--text">{{ block.settings.text  }}</span>
        {% endif  %}    
    </button>
</div>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('wishlist', () => ({
            wishlisted: false,
 
            addToWishlist() {
                this.wishlisted = ! this.wishlisted
                // ToDO : send data to database
            }
        }))
    })
</script>

<style>
    .wishlist-inspire__icon{
        display: flex;
       justify-content: center;
       max-width: 44rem;
    }
    .wishlist-inspire__icon button{
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    .wishlist-inspire__icon button svg {
        width: 20px;
    }
</style>

{% schema %}
    {
        "name": "wishlist-icon",
        "target": "section",
        "settings": [
            { 
                "type": "product",
                "id": "product",
                "label": "product",
                "autofill": true 
             },
            { 
                "type": "text",
                "id": "text",
                "label": "Text",
                "default": "Add to wishlist" 
            },
            { 
                "type": "color",
                "id": "color",
                "label": "Icon Colour",
                "default": "#ed1b24" 
            }
        ]
    }
{% endschema %}